<div appswipeDirective (longPress)="popUp('test')"  (click)="launch(packageName)" class="app-list-item">
    <div [attr.id]="packageName" class="icontile">

    </div>
    <!-- <img [src]="imageSrc" alt="{{ label }} icon"> -->
    <span>{{ label }}</span>
</div>
  
<app-flyover *ngIf="showFlyover" (optionSelected)="performAction($event)" [options]="['uninstall','app info', 'pin on homescreen']">

</app-flyover>

<app-popover *ngIf="showPopup"  [title]="'Uninstall app?'"  [content]="'This app will be permanently deleted from this Phone'"
    (okClicked)="requestUninstall()" (cancelClicked)="closePopUp()"
>

</app-popover> 