div.theme-selector {
	position: relative;
	width: 100%;
	height: 28px;
	box-shadow: inset 0 0 0 2px #fff;
	margin-bottom: 10px;
	overflow: hidden;
	
	div.theme-color {
		height: 28px;
		padding-left: 28px;
		line-height: 28px;
		position: relative;
		display: none;
		
		&:before {
			content: '';
			position: absolute;
			top: 8px;
			left: 8px;
			width: 12px;
			height: 12px;
		}
	}
	&:active div.theme-color {
		color: #fff;
	}
}

div.theme-overlay {
	top: 0;
    position: relative;
	left: 5%;
    right: 5%;
	width: 90%;
	height: 100%;
	padding-top: 5%;
	z-index: 4000;
	
	div.theme-color-wrapper {
		-webkit-perspective: 2000px;
		width: 100%;
		max-width: 100%;
		height: 66px;
		margin: auto;
		margin-bottom: 4px;

		div.theme-color {
			width: 66px;
			height: 66px;
			display: inline-block;
			opacity: 0;
			
			&:not(:last-child) {
				margin-right: 4px;
			}
		}
	}
}

div.tiles-preview {
	position: fixed;
    width: 100%;
    margin-top: 50px;
    background-color: black;
    z-index: 9999;
	top: 0px;
   
	
	&:before {
		content: '';
		padding-top: 61.603376%;
		display: block;
	}
	
	div.tiles-preview-inner {
		position: absolute;
		top: 0;
		left: 5%;
		right: 5%;
		bottom: 0;
		background-image: url(../../assets/img/tiles_default.png);
		background-size: 100%;
        width: 90%;
        background-repeat: no-repeat;
        height: 80%;
		top:10%;
		
	}
}

body.more-tiles div.tiles-preview-inner {
	background-image: url(../../assets/img/tiles_default.png);
}

body:after {
	display: none;
	content: url(../../assets/img/tiles_default.png) url(../../assets/img/tiles_default.png);
}

h2 {
    font-size: 11pt;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #0078D7 !important;
    font-family: "Segoe UI";
    margin-left: 10px;
    width: 95%;
}

.headingTop{
	padding-top:75%;
}

div.tiles-preview-inner {
    background-color: #0078D7;
}

.theme-color {
    margin: 0px;
    content: '';
    position: relative;
    top: 8px;
    width: 66px;
    height: 66px;
    background-color: #1ba1e2;
}



.colorbox{
    display: block;
    font-size: 11pt;
    font-weight: 400;
    height: 32px;
    margin-left: 20px;
    padding: 0 12px;
    width: 100%;
    max-width: 280px;
    background-color: transparent !important;
    box-shadow: inset 0 0 0 2px #838484;
    font-family: "Segoe WP";
    text-transform: lowercase;
    color:white;
}

.palette {
	display: inline-flex;
	width: 40%;
	margin: 4%;
  }
  
  .color {
	width: 100px;
	height: 100px;
	border-radius: 0px;
  }


