.tile-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .tile {
    display: inline-flex; /* or inline-block */
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  
  .tile-content img {
    
    filter: invert(100%) sepia(13%) saturate(7467%) hue-rotate(180deg) brightness(106%) contrast(106%); /* make svg white*/
    text-align: center;
    max-width: 80%; /* Ensure the icon doesn't exceed the tile's width */
    max-height: 80%; /* Ensure the icon doesn't exceed the tile's height */
    padding-left: 10%; /* 100-width divided by 2*/
  }


  .ifame{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border: 0;
  }

  .idiv{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    
    overflow: hidden;
  }