<div  [@bounceInLeft]="{ value: animationState, params: { 'duration': duration, 'delay': delay } }" class="tile" (click)="launchApp()" [style.background-color]="color" [style.width]="sizeSpecs.width" [style.height]="sizeSpecs.height" [style.margin]="sizeSpecs.border">
    <div *ngIf="iconName" class="tile-content">
    
        <img  [src]="iconUrl" alt="Icon">
  
     
    </div>
    <div *ngIf="title || content" >
      <h2 *ngIf="title">{{ title }}</h2>
      <p *ngIf="content">{{ content }}</p>
    </div>

    <div class="idiv" *ngIf="liveLink" >
      <iframe class="ifame" [src]="safeLiveLink"></iframe>
    </div>
</div>
  