<!-- <div *ngFor="let app of applist" >
  <h1 (click)="launchApp(app.packageName)">{{app.label}}</h1>
</div> -->


<div class="container">
    <div class="sub-container">
  
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.message'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.book.contact'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.email.gmail'"></app-tile>
    </div>
    <div class="sub-container">
      <app-tile size="normal" [title]="''" [content]="''" [iconName]="'appbar.google'"></app-tile>
    </div>
  </div>
  <div class="container">
    <div class="sub-container">
      <app-tile size="normal" [title]="''" [content]="''" [iconName]="'appbar.camera'"></app-tile>
    </div>
    <div class="sub-container">
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.calculator'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.calendar'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.camera'"></app-tile>
      <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.os.chromium'"></app-tile>
    </div>
  </div>
  <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
  <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
  <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
  <app-tile size="small" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
  <app-tile size="wide" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>
  <app-tile size="large" [title]="''" [content]="''" [iconName]="'appbar.phone'"></app-tile>