<div  [@bounceInUp]="{ value: animationState, params: { 'duration': 400, 'delay': 0 } }" class="drawer" appswipeDirective (swipeRight)="launchRouter('/home')">
<span *ngIf="show"  class="upper">
    <h1 [@bounceInUp]="{ value: animationState, params: { 'duration': 800, 'delay': 500 } }" data-tab="tab1" class="pivot">Applications</h1>
    <input [@bounceInUp]="{ value: animationState, params: { 'duration': 800, 'delay': 600 } }" (keydown)="searchApp($event)" class="searchbox" type="text" placeholder="search all apps" autofocus>
<!-- <div *ngFor="let app of filteredAppList">
    <app-app-list-item  [label]="app.label" [imageSrc]="app.imageSrc" [packageName]="app.packageName"></app-app-list-item>
</div> -->
</span>

<div  class="lower">
    
    <div  *ngFor="let letter of keys">
       
        <div *ngIf="this.filteredGroupedAppList[letter].length>0 && show" class="letterBoxContainer">
            
            <div *ngIf="this.filteredGroupedAppList[letter].length>0"   (click)="openLetterFilter()"  class="icontile">
                <h2  >{{ letter }}</h2>
            </div>
        
        </div>
        
        <div *ngFor="let app of filteredGroupedAppList[letter]; let i = index"  [@bounceInUp]="{ value: animationState, params: { 'duration': 500, 'delay': i*75 } }">
            <app-app-list-item  *ngIf="show"  [indexNo]= "i" [label]="app.label" [imageSrc]="app.imageSrc" [packageName]="app.packageName"></app-app-list-item>
        </div>
        
    </div>
    
    
        <div *ngIf="showFilter" class="grid-container">
            <div *ngFor="let item of gridItems"  (click)="letterFilter(item, isBlack(item))"  [ngClass]="{'black': isBlack(item)}" class="grid-item">
              {{ item }}
            </div>
        </div>
</div>
    </div>